@charset "UTF-8";

* {
    box-sizing: border-box;
    word-wrap: break-word;
    max-width: 100%;
    table-layout: fixed;
}

table {
    width: 100%;
}

select {
    width: 100%;
}

#eta {
    text-align: center;
}

.rdv {
    font-size: 0.7em;
}

#eta thead tr th:nth-child(1) {
    width: 20%;
}

#eta thead tr th:nth-child(2) {
    width: 10%;
}

#eta thead tr th:nth-child(3) {
    width: 25%;
}

#eta thead tr th:nth-child(4) {
    width: 10%;
}

#eta thead tr th:nth-child(5) {
    width: 25%;
}

